header div.logo-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

header div.form-content {
	text-align: center;
}

header div.logo-search img {
    height: 200px;
    width: 200px;
}

header div.logo-search form input {
	background-color: white;
	width: 200px;
	padding: 10px;
	border: none;
	font-weight: 600;
	border-radius: 10px 0 0 10px;
	font-size: 20px;
}

header div.logo-search form input:focus {
	outline: 2px solid lightgray;
	outline-offset: none;
}

header div.logo-search form {
	align-items: center;
	justify-content: center;
	margin-left: 5rem;
	display: flex;
}

header div.logo-search form h4 {
	color: rgb(77, 70, 65);
	margin-bottom: 15px;
}

::placeholder {
	color: lightgray;
}

header div.logo-search form button {
	background: #40362E;
	border: none;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
	color: #F2EAC2;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
}

header div.logo-search form button:hover {
	background: #40362E;
}